
/* --------------------------------------
   Layout
   -------------------------------------- */
body {
   background-color: black;
   color:white;
   /*overflow: hidden;*/

}

.betalogo {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    margin-top:48px;
}

.game-images{padding-top:4px;padding-bottom:24px}


.game-name{
   font-size:24px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 500;
      letter-spacing: 1.4px;

}

.game-description{
   font-size:16px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 300;
   letter-spacing: 1.4px;
   padding-top: 16px;
   padding-bottom: 20px;

}

.game-links a{
   font-size:14px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 500;
   letter-spacing: 1.4px;
   color: #FFC107;

}

.game-links a:hover{
   font-size:14px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 500;
   letter-spacing: 1.4px;
   color: #FFC107;
   opacity: .8;
   text-decoration: none;

}

.header{
   font-size:72px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 600;
   padding-top: 40%;
}

.sub-header{
   font-size:28px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 300;
   padding-top: px;
}

.subscribe-form{
   padding-top: 40px;
   padding-bottom: 80px;
}


input[type=text]{
    width: 65%;
    padding: 12px 20px;
    display: inline-block;
    height:72px;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    font-size:20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;

}

input[type=email]{
    width: 60%;
    padding: 12px 20px;
    display: inline-block;
    height:72px;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    font-size:20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;

}


input[type=submit] {
    width: 34%;
    background-color: #FFC107;
    color: white;
    height:72px;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size:20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin-left:-4px;


}




input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.btn-grad {background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%)}


.btn-grad:hover { background-position: right center; }



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

   .header{
   font-size:72px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 600;
   padding-top: 10%;
}

	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
      .header{
   font-size:72px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 600;
   padding-top: 10%;
}


	
}

/* Large desktop */
@media (max-width: 1000px) {
  @media (max-width: 768px) {
      .header{
   font-size:72px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 600;
   padding-top: 10%;
}

	
}